.el-menu {
  border-right: 0px;
}

.el-submenu .el-menu-item {
  min-width: auto;
}

.el-checkbox__input.is-disabled+span.el-checkbox__label {
  color: #606266;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
  background-color: #fff;
}

button {
  font-family: 'SourceHanSans-Regular' !important;
}