.el-menu {
  border-right: 0px;
}

.el-submenu .el-menu-item {
  min-width: auto;
  cursor: url('../cur//Hand.png'), auto !important;
}

.el-submenu__title {
  cursor: url('../cur//Hand.png'), auto !important;
}

.el-menu-item.is-active {
  cursor: url('../cur//Hand.png'), auto !important;
}

.el-table__expand-icon {
  cursor: url('../cur//Hand.png'), auto !important;
}

textarea {
  cursor: default;
}