// normalize
@import './normalize.css';

// element
@import './ele.scss';

/* font */
@font-face{
  font-family:"Roboto-Thin";
  font-display: swap;
  src:url('../font/Roboto-Thin.ttf');
}

@font-face{
  font-family:"en";
  font-display: swap;
  src:url('../font/FiraCode-Regular.ttf');
}

@font-face{
  font-family:"SourceHanSans-Regular";
  font-display: swap;
  src:url('../font/SourceHanSans-Regular.otf');
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #adabab;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background:rgba(0,0,0,.1);
}

::selection{
  color: #fff;
  background-color: #46484b;
  text-shadow: #bbbaba 0 0 1px, #fffffb 0 0 1px, #fffffb 0 0 2px;
}

// common
@import './common.scss';

*::after{
  clear: both;
}